:root {
  --ff-sans: "Rubik", sans-serif;

  /* https://royalfig.github.io/fluid-typography-calculator/ */

  /* Min viewport: 40rem (640px) -- 80rem (1280px) */
  --fs-300: 0.9375rem; /* 15px */
  --fs-400: 1.125rem; /* 18px */
  --fs-700: clamp(1.5rem, 0.5rem + 2.5vw, 2.5rem); /* 24px -> 40px */
  --fs-800: clamp(2rem, 0.4999999999999998rem + 3.7500000000000004vw, 3.5rem);
  /* 32px -> 56px */

  /* Fluid Spacing */

  --sp-300: clamp(0.375rem, -0.75rem + 2.8125vw, 1.5rem); /* 6px -> 24px */
  --sp-400: clamp(
    1.5rem,
    1.125rem + 0.9375000000000001vw,
    1.875rem
  ); /* 24px -> 30px */
  --sp-500: clamp(
    2.375rem,
    1.9375rem + 1.09375vw,
    2.8125rem
  ); /* 38px -> 45px */

  --fw-light: 300;
  --fw-normal: 400;
  --fw-bold: 500;

  --border-radius: 15px;

  --clr-neutral-900: hsla(226, 43%, 10%, 1); /* #0E1323 */
  --clr-neutral-700: hsla(236, 45%, 20%, 1); /* #1C204B */
  --clr-neutral-500: hsla(235, 45%, 62%, 1); /* #7078C9 */
  --clr-neutral-300: hsla(236, 100%, 87%, 1); /* #BBC0FF */
  --clr-neutral-100: hsla(360, 100%, 100%, 1); /* #FFFFFF */

  --clr-neutral-650: hsla(236, 41%, 34%); /* #33397A */

  --clr-dark-blue: hsla(246, 80%, 60%, 1); /* (header): #5747EA */
  --clr-orange: hsla(15, 100%, 70%, 1); /* (work): #FF8B64 */
  --clr-soft-blue: hsla(195, 74%, 62%, 1); /* (play): #55C2E6 */
  --clr-red: hsla(348, 100%, 68%, 1); /* (study): #FF5E7D */
  --clr-green: hsla(145, 58%, 55%, 1); /* (exercise): #4BCF82 */
  --clr-violet: hsla(264, 64%, 52%, 1); /* (social): #7335D2 */
  --clr-yellow: hsla(43, 84%, 65%, 1); /* (self care): #F1C75B */
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--ff-sans);
  font-weight: var(--normal);

  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);

  min-height: 100vh;
}

.wrapper {
  min-height: 100vh;
  min-width: 20rem; /* 320px */
  max-width: 73.125rem; /* 1170px */
  margin: 0 auto;
  padding: var(--sp-400);
}

/* Every Layout -- Sidebar (begin) -- https://every-layout.dev/layouts/sidebar/ */

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sp-400);
  align-content: center;
}

.with-sidebar > .sidebar {
  flex-basis: 15.9375rem; /* 255px */
  flex-grow: 1;
}

.with-sidebar > .not-sidebar {
  /* ↓ Grow from nothing */
  flex-basis: 0;
  flex-grow: 999999;
  /* ↓ Wrap when the elements are of equal width */
  min-inline-size: 67%;
}

/* Every Layout -- Sidebar (end) */

header {
  background-color: var(--clr-neutral-700);
  border-radius: var(--border-radius);
  overflow: hidden;

  container-type: inline-size;
  container-name: header;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.report-name {
  border-radius: var(--border-radius);
  background-color: var(--clr-dark-blue);
  padding-block: 2rem;
  padding-inline: 2rem;

  flex-grow: 1;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: start;
  justify-content: start;
  gap: 1.25rem;
}

.avatar {
  box-sizing: content-box;
  max-width: 4.875rem; /* 78px */
  width: 4rem;
  aspect-ratio: 1;
  border: 3px solid var(--clr-neutral-100);
  border-radius: 50%;
  margin-block-start: -3px;
  margin-inline-start: -3px;

  flex-basis: 4rem;
  flex-grow: 1;
}

h1 {
  font-size: var(--fs-700);
  font-weight: var(--fw-light);
  display: grid;
  line-height: 1.2;
  gap: 0.25rem;

  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 65%;
}

h1 > span {
  color: var(--clr-neutral-300);
  font-size: var(--fs-300);
}

.filter-nav {
  list-style-type: none;
  padding-block: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.filter-nav > * {
  text-align: center;
  flex: 1;
}

@container header (max-width: 325px) {
  h1 {
    padding-block-start: 1.125rem;
  }

  .filter-nav {
    flex-direction: column;
    gap: 1.3125rem;
    padding-inline: 2rem;
  }

  .filter-nav > * {
    text-align: start;
  }
}

.filter-nav a,
.filter-nav a:link,
.filter-nav a:visited {
  color: var(--clr-neutral-500);
  text-decoration: none;
  font-size: var(--fs-400);
  font-weight: var(--fw-light);
}

.filter-nav a.current,
.filter-nav a:focus,
.filter-nav a:hover,
.filter-nav a:active {
  color: var(--clr-neutral-100);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sp-400);
}

.grid > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 15.9375rem; /* 255px */
}

.data-section {
  border-radius: var(--border-radius);
  overflow: hidden;
  padding-block-start: var(--sp-500);
  background-position: top -10px right 16px;
  background-repeat: no-repeat;
}

.data-section--work {
  background-image: url("images/icon-work.svg");
  background-color: var(--clr-orange);
}

.data-section--play {
  background-image: url("images/icon-play.svg");
  background-color: var(--clr-soft-blue);
}

.data-section--study {
  background-image: url("images/icon-study.svg");
  background-color: var(--clr-red);
}

.data-section--exercise {
  background-image: url("images/icon-exercise.svg");
  background-color: var(--clr-green);
}

.data-section--social {
  background-image: url("images/icon-social.svg");
  background-color: var(--clr-violet);
}

.data-section--self-care {
  background-image: url("images/icon-self-care.svg");
  background-color: var(--clr-yellow);
}

.data-content {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  background-color: var(--clr-neutral-700);
  padding-block: 1.75rem;
  padding-inline: 1.5rem;
  height: 100%;
  display: grid;
  gap: var(--sp-300);
}

.data-section:hover {
  cursor: pointer;
}

.data-section:hover > .data-content {
  background-color: var(--clr-neutral-650);
  cursor: pointer;
}

.ellipsis {
  fill: var(--clr-neutral-300);
}

.ellipsis:hover {
  cursor: pointer;
  fill: var(--clr-neutral-100);
}

.data-section h2 {
  font-size: var(--fs-400);
}

.data-row-header,
.data-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.data-curr {
  font-size: var(--fs-800);
  font-weight: var(--fw-light);

  /* ↓ Grow from nothing */
  flex-basis: 0;
  flex-grow: 999999;
  /* ↓ Wrap when the elements are of equal width */
  min-inline-size: 52%;
}

.data-prev {
  font-size: var(--fs-300);
  font-weight: var(--fw-light);
  color: var(--clr-neutral-300);

  /* flex-basis: 8.75rem; */ /* 140px */
  flex-grow: 1;
}

.hidden {
  display: none;
}
